<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test automation Assessment -API">
    <test name="Auth Token Generation Test">
        <classes>
            <class name="com.ncba.testAPI.AuthTokenTest"></class>
        </classes>
    </test>
    <test name="Booking Test">
        <classes>
            <class name="com.ncba.testAPI.BookingTest"></class>
        </classes>
    </test>
 
</suite>
